body 
{
  background-color: cyan;
  font-family: Arial;
}
h1 
{
  color: black;
  text-align: center;
}
.assign 
{
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: green;
}
.assign img 
{
  width: 200px;
  padding: 10px;
}
